/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   background-color: #ffda99;
   color: #051959;
   font-family: 'Lato', sans-serif;
}

h1 {
  font-family: 'Lobster', cursive;
  text-align: center;
}

h2 {
  font-family: 'Lobster', cursive;
}

 nav {
  display: flex;
  justify-content: center;
  flex-direction: row;
 }

 nav li {
  float: right;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
}

nav li :hover {
  background-color: #DB7450;
  color: #8e8d8a;
}

table, th, tr, td {
  border: 1px solid darkgray;
  border-collapse: collapse;
}

table {
  width: auto;
  font-size: 18px;
}

th, td {
  padding: 7px, 10px, 10px, 10px;
}

th {
  text-transform: uppercase;
  text-align: left;
  background-color: #598e96;
}

tr:nth-child(even) {
  background-color: #598e96;
}

td {
  vertical-align: middle;
  padding: 5px;
}

input {
  font-size: 120%;
  border: 1px solid darkgray;
  padding: 5px;
  display: block;
}

input[type=submit] {
  background-color: #B8AE9E;
  display: inline-block;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;
  width: 140px;
  height: 40px;
  font-size: 14px;
  border: solid;
  border-color: grey;
  margin: 10px;
  border-radius: 10px;
  white-space: nowrap;
}

input[type=submit]:hover {
  background-color: #edc7b7;
}

select {
  border: darkgray;
  font-size: 14px;
  padding: 5px;
  height: 34px;
  width: 240px;
}

select:focus {
  background: #edc7b7;
}

legend {
  font-size: 30px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
}
